/* Start of NavBar styling */

/* Add a black background color to the top navigation */
.nav {

    background-color: #ffffff;
    height: 30px;
}

/* Style the links inside the navigation bar */
.nav a {
    font-weight: 500;
    color:black;
    caret: black;
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: lightblue;
    color: black;
}

/* Right-aligned section inside the top navigation */
.nav-right {
    float: right;
}
/* End of NavBar styling*/

/* Start of Timeline styling */

.timeline-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 900px;
    margin: 40px 0px;
    margin-left: -400px;
}

.timeline-container::after {
    background-color: blue;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}
.timeline-item:nth-child(even) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}


.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(even) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item:nth-child(even) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}


.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item:nth-child(even) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}


.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}

.timeline-item-content a {
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid blue;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -16px;
}
.timeline-item:nth-child(even) .timeline-item-content .circle {
    right: auto;
    left: -16px;
}

.circleBackground{
    border-radius: 50%;
    width: 500px;
    background: lightgray;
}

.Image {
    /*border-radius: 50%;*/
    /*background: lightgray;*/
    padding : 10px;
    margin-top: -10px;
    margin-bottom: 50px;
    margin-left: 30px;
    position: absolute;

}

.sourceImage{
    top: 1000px;

}
.destinationImage{


}
/* End of Timeline styling */

/* Start of Table Grid styling */

div.ordersgrid{
    padding : 50px;
    width: 1000px;
    margin-left : 30%;
    margin-top : 200px;
}
/* End of Table Grid styling */

/* Start of Counters styling */
.counter {
    width: 100vw;
    height: 100px;
    padding-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.counter a{
    border-radius: 7px;
    background-color: #d5deff;
    color: #0e0000;
    padding: 10px;
    margin: 5px 10px;
    width : 110px;
    height : 100px;
    color: blue;
    font-weight: 700;
    text-align: left;
    position: relative;
    /* text-align: right; */

}

.counter .active{
    background: blue;
    color: white;
}

.counter a .CounterNumber{
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    bottom: 5px;

    right: 5px;
}
/* End of Counters styling */